
.home{
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.buttonPanel, .display{
	width: 700px;
	margin-left: auto ;
  margin-right: auto ;
}

.display{
	background-color: #868595;
	height: 100px;
	color: white;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	box-sizing: border-box;
	border: 1px solid black;
}

.group1, .group2, .group3, .group4, .group5{
	padding: 0px;
}
.col-md-3{
	background-color: #e0e0e0;
	border: 1px solid #c8c8c8;
	color: black;
	font-size: 0.8em;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	width: 25%;
}

.col-md-6{
	background-color: #e0e0e0;
	border: 1px solid #c8c8c8;
	color: black;
	font-size: 0.8em;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	width: 50%;
}

.orange{
	background-color: rgb(254, 142, 5);
}